body{
  color:black;
  line-height:2.2em;
}
.mycontainer{
  font-size:initial;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-weight:bold;
  font-size: 1.5em;
}

header .pg_header h1,h2{
  font-family:UniveLigUltCon;

}

article{
  margin-top:0px;
}
aside{
  margin-top:0px;
}
aside p{
  font-size: 18px;
}


aside p{
  font-size: 18px;
}

header{

  height:auto;
  display:block;
  position:relative;
  padding: 0;
  background: url(../images/headerbg.png) left top repeat-x;


}

header img{
  max-width: 100%;


  bottom:0px;

}


header .pg_header{

  padding-top:20px;
  width:28%;
  position:relative;

}

header .pg_header h1{
	font-size:2em;
	line-height:1em;
}

header .pg_header h2{
	font-size:1.6em;
	height:auto;
	margin:0;
}
header .pg_header h2 a{
	color:white;
}

header .header_menu{
  font-size:1em;
  line-height:1em;
  margin-top:-1.2em;
  padding-right:10px;
}

header .header_menu, header .header_menu a, header .header_menu a:link{
  color: #0072ce !important;
}
@media screen and (max-width: 600px) {
  header {
    min-height:0px;
  }
  header .pg_header{
    padding-top:0px;
    width:100%;
    overflow:hidden;

  }
  header .pg_header img{
    margin-top:-5px;




  }
}

div.panel-heading{
  padding:0;
  margin:0;
}

.panel-title a{
  display:block;
  position:relative;
  text-decoration:none;
  padding: 10px 15px;
  background-color:#F1F1F1;
  padding-right:40px;
}

.panel-title a:link{
  color: black;
}
.panel-title a:hover{
  background-color: #d6d7d9;
  outline: none;
}

.panel-title a:link, .panel-title a:visited, .panel-title a:focus{
    border:none;
}


.panel-title a span.glyphicon{
  right:20px;
  top:18px;
  position:absolute;

}

.main-content h2{
  font-size:2.3em;
  margin-top:.5em;
}


@media print{

header{
position:relative;
display:block;
}
.header_menu{
	display:none;
}

aside{
	display:none;
}
article{
	width:100%;
	margin:0;
	padding:0;
}

.collapse { display: block !important; height: auto !important; }

.panel-group .panel, .panel-group .panel-heading, .panel-group .panel-title{
	padding:0;
	margin:0;
}
.panel-title a span.glyphicon{
	display:none;
}

a:after{
	content:"" !important;
}

}
